@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

@media (max-width: 1200px) {
  .container {
    width: 900px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 300px;
  }
}

body {
  background-color: white;
  font-family: 'Lora', serif;
  font-weight: lighter;
  margin: 0;
  color: #494949;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h2 {
  color: #A0A0A0;
  font-weight: normal;
}

#header {
  background: linear-gradient(
    rgba(20, 20, 20, .5)
    , rgba(20, 20, 20, .5))
    , url("https://source.unsplash.com/random/1000x500");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 120px 0;
}

#header h1 {
  font-size: 38px;
}

#header p {
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
}

.container {
  width: 700px;
  margin: 50px auto;
}

.spotlight {
  background-image: linear-gradient(to bottom, rgba(0, 85, 164, .7), rgba(0, 85, 164, .7));
  color: white;
  font-style: italic;
  padding: 10px;
  text-align: center;
}

.spotlight:hover {
  background-image: linear-gradient(to bottom, rgba(239, 65, 53, .7), rgba(239, 65, 53, .7));
}
